<div class="user-add col-md-10 col-lg-offset-1">
  <form class="add-user-form" (ngSubmit)="saveUser()">
    <h2 class="add-user-form-heading">
      Add user
    </h2>

    <div *ngIf="invalidField" class="alert alert-danger">
      Invalid field!
    </div>

    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="username"
             [(ngModel)]="user.username" required
             autofocus>
    </div>

    <div>
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
             [(ngModel)]="user.password"
             required>
    </div>

    <div class="form-group">
      <label>Roles</label>
      <select class="form-control" multiple name="role" [(ngModel)]="user.roles">
        <option *ngFor="let role of roles" [value]="role">{{role.name}}</option>
      </select>
    </div>

    <button class="btn btn-sm btn-primary btn-block" type="submit">Save</button>
  </form>

  <br>

</div>
