<div class="order-add col-md-8 col-md-offset-2">
  <form class="add-order-form form-horizontal" (ngSubmit)="saveOrder()">
    <h2 class="add-order-form-heading">
      Add order
    </h2>

    <hr>

    <div *ngIf="invalidField" class="alert alert-danger">
      Invalid field!
    </div>

    <div class="form-group">
      <label for="initiator" class="col-sm-2 control-label">Initiator: </label>
      <div class="col-sm-5">
        <input type="text" id="initiator" name="initiator" class="form-control" placeholder="initiator"
               [(ngModel)]="initiator.username" required
               autofocus/>
      </div>

    </div>

    <div class="form-group">
      <label for="destination" class="col-sm-2 control-label">Destination: </label>
      <div class="col-sm-5">
        <input type="text" id="destination" name="destination" class="form-control" placeholder="destination"
               [(ngModel)]="order.destination" required/>
      </div>

    </div>

    <div class="form-group">
      <label for="budget" class="col-sm-2 control-label">Budget: </label>
      <div class="col-sm-3">
        <input type="number" id="budget" name="budget" class="form-control" placeholder="budget"
               [(ngModel)]="order.budget" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="approved" class="col-sm-2 control-label">Approved: </label>
      <div class="col-xs-1">
        <input type="checkbox" id="approved" name="approved" class="form-control" required
               [(ngModel)]="order.approved">
      </div>

    </div>

    <div class="form-group">
      <label for="project" class="col-sm-2 control-label">Project: </label>
      <div class="col-sm-5">
        <select class="form-control" id="project" name="project" [(ngModel)]="order.project">
          <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}</option>
        </select>
      </div>
    </div>

    <button class="btn btn-primary btn-lg col-md-1 col-md-offset-4" type="submit">Save</button>
    <br>
  </form>

  <br>

</div>

