<div class="order-list col-md-10 col-lg-offset-1">
  <br>
  <h2>
    <span>Orders</span>
    <button class=" btn btn-primary pull-right jh-create-entity" [routerLink]="['/orders/add']" routerLinkActive="active">
      <span class="glyphicon glyphicon-plus"></span> <span>Initiate a new Order</span>

    </button>
  </h2>
  <hr/>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Initiator</span></th>
        <th><span>Destination</span></th>
        <th><span>Budget</span></th>
        <th><span>Approved</span></th>
        <th><span>Project</span></th>
      </tr>
      </thead>

      <tbody *ngIf="orders">
      <tr *ngFor="let order of orders">
        <td><a [routerLink]="['/orders/view', order.id]">{{order.id}}</a></td>
        <td>{{order.initiator.username}}</td>
        <td>{{order.destination}}</td>
        <td>{{order.budget}}</td>
        <td>{{order.approved}}</td>
        <td>{{order.project.name}}</td>


        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit" class="btn btn-info btn-sm" [routerLink]="['/orders/view', order.id]">
              <span class="glyphicon glyphicon-eye-open">View</span>
            </button>
            <button type="submit" class="btn btn-primary btn-sm" [routerLink] = "['/orders/edit', order.id]">
              <span class="glyphicon glyphicon-edit">Edit</span>
            </button>
            <button type="submit" class="btn btn-danger btn-sm" onclick="deleteOrder(order.id)">
              <span class="glyphicon glyphicon-remove-circle">Delete</span>
            </button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
