<div class="user-view col-md-10 col-lg-offset-1">
  <br>
  <h1>User details: {{user.username}}</h1>
  <hr/>
  <div>ID: {{user.id}}</div>
  <div>Username: {{user.username}}</div>
  <div>Roles: {{user.roles[0].name}}</div>

  <button type="submit" routerLink="/administration/users" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
  </button>

  <br/>
  <br/>
</div>


