<div>
  <h1>Top 5 players</h1>
  <hr>
  <div class="row">
    <div *ngFor="let player of players" class="col-md-5">
      <player-thumbnail [player]="player"></player-thumbnail>
    </div>
  </div>
</div>
