<div class="project-edit col-md-8 col-md-offset-2">
  <form class="edit-project-form form-horizontal" (ngSubmit)="updateProject()">
    <h2 class="edit-project-form-heading">
      Edit project
    </h2>

    <hr>

    <div *ngIf="invalidField" class="alert alert-danger">
      Invalid field!
    </div>

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name: </label>
      <div class="col-sm-5">
        <input type="text" id="name" name="name" class="form-control" placeholder="name"
               [(ngModel)]="project.name" required
               autofocus/>
      </div>

    </div>

    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Description: </label>
      <div class="col-sm-5">
        <input type="text" id="description" name="description" class="form-control" placeholder="description"
               [(ngModel)]="project.description" required/>
      </div>

    </div>

    <div class="form-group">
      <label for="totalBudget" class="col-sm-2 control-label">Total Budget: </label>
      <div class="col-sm-3">
        <input type="number" id="totalBudget" name="totalBudget" class="form-control" placeholder="total budget"
               [(ngModel)]="project.totalBudget" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="remainingBudget" class="col-sm-2 control-label">Remaining Budget: </label>
      <div class="col-sm-3">
        <input type="number" id="remainingBudget" name="remainingBudget" class="form-control" required
               [(ngModel)]="project.remainingBudget">
      </div>
    </div>

    <div class="form-group">
      <label for="responsible" class="col-sm-2 control-label">Responsible: </label>
      <div class="col-sm-5">
        <input type="text" id="responsible" name="responsible" class="form-control" required
               [(ngModel)]="project.responsible.username">
      </div>
    </div>

    <button class="btn btn-primary btn-lg col-md-1 col-md-offset-4" type="submit">Save</button>
    <br>
  </form>

  <br>

</div>
