
<div class="user-list col-md-10 col-lg-offset-1">
  <br>

  <h2>
    <span>Users</span>
    <button class=" btn btn-primary pull-right jh-create-entity" [routerLink]="['/administration/users/add']" routerLinkActive="active">
      <span class="glyphicon glyphicon-plus"></span> <span>Create a new User</span>

    </button>
  </h2>
  <hr/>

  <div class="table-responsive" *ngIf="users">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Username</span></th>
        <th><span>Roles</span></th>
      </tr>

      </thead>

      <tbody *ngIf="users">
      <tr *ngFor="let user of users">
        <td><a [routerLink]="['/administration/users/view', user.id]">{{user.id}}</a></td>
        <td>{{user.username}}</td>
        <td>
          <div *ngFor="let role of user.roles">
            <span class="badge progress-bar-info">{{ role.name }}</span>
          </div>
        </td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit" class="btn btn-info btn-sm" [routerLink]="['/administration/users/view', user.id]">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="d-none d-md-inline">View</span>
            </button>
            <button type="submit" class="btn btn-primary btn-sm" [routerLink] = "['/administration/users/edit', user.id]">
              <span class="fa fa-pencil"></span>
              <span class="glyphicon glyphicon-edit">Edit</span>
            </button>
            <button type="submit" class="btn btn-danger btn-sm">
              <span class="fa fa-remove"></span>
              <span class="glyphicon glyphicon-remove-circle">Delete</span>
            </button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


</div>
