<div class="order-view col-md-10 col-lg-offset-1">
  <br>
  <h1>Order details: {{order.name}}</h1>
  <hr/>
  <div>ID: {{order.id}}</div>
  <div>Initiator: {{order.initiator.username}}</div>
  <div>Destination: {{order.destination}}</div>
  <div>Budget: {{order.budget}}</div>
  <div>Approved: {{order.approved}}</div>
  <div>Project: {{order.project.name}}</div>

  <button type="submit" routerLink="/orders" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
  </button>

  <br/>
  <br/>
</div>


