<div class="project-view col-md-10 col-lg-offset-1">
  <br>
  <h1>Project details: {{project.name}}</h1>
  <hr/>
  <div>ID: {{project.id}}</div>
  <div>Name: {{project.name}}</div>
  <div>Description: {{project.description}}</div>
  <div>Total Budget: {{project.totalBudget}}</div>
  <div>Remaining Budget: {{project.remainingBudget}}</div>
  <div>Responsible: {{project.responsible.username}}</div>

  <button type="submit" routerLink="/projects" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
  </button>

  <br/>
  <br/>
</div>


