<div>
  <form class="form-signin" (ngSubmit)="signIn()">
    <h2 class="form-signin-heading">
      Please sign in
    </h2>

    <div *ngIf="invalidLogin" class="alert alert-danger">
      Invalid username and/or password.
    </div>

    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="username"
             [(ngModel)]="user.username" required
             autofocus>
    </div>

    <div>
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
             [(ngModel)]="user.password"
             required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>

