<div class="project-list col-md-10 col-lg-offset-1">
  <br>
  <h2>
    <span>Projects</span>
    <button class=" btn btn-primary pull-right jh-create-entity" [routerLink]="['/projects/add']" routerLinkActive="active">
      <span class="glyphicon glyphicon-plus"></span> <span>Create a new Project</span>

    </button>
  </h2>
  <hr/>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Name</span></th>
        <th><span>Description</span></th>
        <th><span>Total Budget</span></th>
        <th><span>Remaining Budget</span></th>
        <th><span>Responsible</span></th>
      </tr>
      </thead>

      <tbody *ngIf="projects">
      <tr *ngFor="let project of projects">
        <td><a [routerLink]="['/projects/view', project.id]">{{project.id}}</a></td>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td>{{project.totalBudget}}</td>
        <td>{{project.remainingBudget}}</td>
        <td>{{project.responsible.username}}</td>


        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit" class="btn btn-info btn-sm" [routerLink]="['/projects/view', project.id]">
              <span class="glyphicon glyphicon-eye-open">View</span>
            </button>
            <button type="submit" class="btn btn-primary btn-sm" [routerLink] = "['/projects/edit', project.id]">
              <span class="glyphicon glyphicon-edit">Edit</span>
            </button>
            <button type="submit" class="btn btn-danger btn-sm" (onclick)="deleteProject(project.id)">
              <span class="glyphicon glyphicon-remove-circle">Delete</span>
            </button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
