<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav">
          <li *ngIf="authenticateService.isLoggedIn()">
            <a [routerLink]="['']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li *ngIf="authenticateService.isLoggedIn()">
            <a [routerLink]="['/player']" routerLinkActive="active">
              Players
            </a>
          </li>

          <li *ngIf="authenticateService.isLoggedIn() && authenticateService">
            <a [routerLink]="['/projects']" routerLinkActive="active">
              Project
            </a>
          </li>

          <li *ngIf="authenticateService.isLoggedIn()">
            <a [routerLink]="['/orders']" routerLinkActive="active">
              Orders
            </a>
          </li>

        </ul>


        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown" dropdown>
            <a href="#" dropdownToggle class="dropdown-toggle" role="button" aria-haspopup="true"
               aria-expanded="false" routerLinkActive="active">Administration<span class="caret"></span></a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li *ngIf="authenticateService.isLoggedIn()"><a [routerLink]="['/administration/users']"
                                                              routerLinkActive="active">Users</a></li>
              <li><a [routerLink]="['administration/signup']" routerLinkActive="active">Sign up</a></li>
              <li *ngIf="authenticateService.isLoggedIn()">
                <a [routerLink]="['/administration/profile']" routerLinkActive="active">Profile
                </a>
              </li>
              <li role="separator" class="divider" routerLinkActive="active"></li>
              <li *ngIf="!authenticateService.isLoggedIn()">
                <a [routerLink]="['/administration/login']" routerLinkActive="active">Login</a>
              </li>
              <li *ngIf="authenticateService.isLoggedIn()" (click)="authenticateService.logout()">
                <a [routerLink]="['/administration/logout']" routerLinkActive="active">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
